
.homepage {
    text-align: center;
    padding: 20px;
    max-width: 100%;
    overflow-x: hidden;
    /* Prevent horizontal overflow */
}

.hero {
    margin-top: 30px;
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    /* Add some spacing */
}

.features {
    display: flex;
    flex-wrap: wrap;
    /* Allow features to wrap to the next line */
    justify-content: center;
    /* Center features horizontally */
    gap: 20px;
    /* Add some spacing between features */
    margin-top: 20px;
}

.feature {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    /* Add some margin around each feature */
    max-width: 300px;
    /* Limit maximum width of features */
}

.cta {
    margin-top: 20px;
    padding-bottom: 20px;
    /* Add some padding at the bottom */
}

.cta p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    /* Reduce margin-bottom */
}

@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
        /* Decrease font size for smaller screens */
    }

    .hero-description {
        font-size: 1.2rem;
        /* Decrease font size for smaller screens */
    }

    .hero-button {
        font-size: 1rem;
        /* Decrease font size for smaller screens */
    }

    .feature {
        flex-basis: calc(50% - 20px);
        /* Show two features per row */
        max-width: none;
        /* Allow features to take full width */
    }
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.reward-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Center the card */
    text-align: center;
    /* Center text */

}

.reward-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.reward-card p {
    font-size: 1.2rem;
    color: #555;
}

.low{
    display: flex;
    justify-content:space-between;    
    align-items: center;
    
}